[flake8]
max-line-length = 90
ignore =
    ; Missing type annotation for self in method
    ANN101,
    ; Missing type annotation for cls in classmethod
    ANN102,
    ; Dynamically typed expressions (typing.Any) are disallowed
    ANN401,
